.linha_top{
    height: 150px;
    width: 121.9%;
    background: rgb(56, 138, 231);
}

.linha_top h1{
    padding: 50px;
}

.quadrado{
    height: 500px;
    margin-left: 100px;
    background: red;
}