.linha_1{
    height: 150px;
    width: 100%;
    background: #bfdcfa;
    padding-right: 0px;
}

.linha_1 h1{
    padding: 50px;
    color: rgb(3, 3, 3);
}

.quadrado{
    width: 23%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 100px;
    transform: scale(1.2);
    padding: 0 ;
    flex-direction: column;
    background: #2a7fe13d;

}

.quadrado h1{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.linha{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 25px;
}

.coluna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
    
}

.titulo_categoria h3{
    padding-left: 50px;
}

.campo_Codigo{
    width: 100PX;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border: black solid 1px;

}

.campo{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 15px;
}

.campo_p{
   width: 100PX;
    height: 30px;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 15px;

}

.titulo_p{
    color: rgb(0, 0, 0);
    margin: 0px;
}

.campo_quantidade{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: black solid 1px;
    font-size: 15px;
    text-align: start;
}

.campo_descricao{
    height: 45px;
    width: 340px;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
     border-radius: 5px;
    border: black solid 1px;
}

.img{
    height: 35px;
    width: 340px;
    padding: 5px;
    border-radius: 5px;
    border: black solid 1px;
}

.lista{
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 350px;
  font-size: 16px;
  border-radius: 5px;
  border: black solid 1px;
}