.conteudo{
    height: 890px;
    width: 87%;
    /* background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    margin-top: 50px;
}

.box_detalhes{
    width: 600px;
    /* background: red; */
    border-radius: 10px;
    border: #5c91ce solid 2px;
    transform: scale(1.2); 
    padding: 25px;
    box-shadow:  5px 5px 10px rgba(0,0,0,0.5);

}

.formatacao{
    color: rgb(0, 0, 0);
}

.imagem{
    height: 750px;
    width: 750px;
    background: #5c91ce;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow:  5px 5px 10px rgba(0,0,0,0.5);
}

.img{
    height: 700px;
    width: 700px;
    border-radius: 10px;
}

 .linha{
    /* background: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
} 

.botao{
    height: 50px;
    width: 150px;
    background: rgb(248, 129, 129);
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.39);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.botao:hover{
    background-color: rgba(204, 6, 6, 0.726);
}

.botao:active{
    transform: scale(0.97);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}