.conteudo {
    height: 890px;
    width: 87%;
    /* background: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    margin-top: 50px;
}

.box_detalhes {
    width: 550px;
    /* background: red; */
    border-radius: 10px;
    border: #5c91ce solid 2px;
    transform: scale(1.2);
    padding: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.formatacao {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.imagem {
    height: 550px;
    width: 550px;
    background: #5c91ce;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.linha {
    /* background: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 80px;
}

.botao {
    height: 50px;
    width: 100px;
    background: rgb(231, 15, 15);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.39);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.botao:hover {
    background-color: rgb(185, 33, 33);
}

.botao:active {
    transform: scale(0.97);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
}

.botao_Editar {
    height: 50px;
    width: 100px;
    background: rgb(105, 175, 240);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.39);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.botao_Editar:hover {
    background-color: rgb(158, 218, 236);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 25px;
    max-width: 400px;
    width: 90%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}


.cancelar{
    height: 20px;
    width: 100px;
    background: #5c91ce;
}

.confirmar{
    height: 20PX;
    width: 100px;
    background: red;
}

